<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nevile.rbac01.dao.AppResourceDao">

	<resultMap id="appResourceMapper"
		type="com.nevile.rbac01.pojo.AppResource">
		<id column="resource_id" property="resourceId" />
		<result column="parentId" property="parentId" />
		<result column="resource_name" property="resourceName" />
		<result column="des" property="des" />
		<result column="app" property="app" />
		<result column="operation" property="operation" />
		<result column="create_time" property="createTime" />
		<result column="create_user" property="createUser" />
		<result column="modify_time" property="modifyTime" />
		<result column="modify_by" property="modifyBy" />

	</resultMap>

	<select id="listAppResource"
		parameterType="com.nevile.rbac01.pojo.AppResource"
		resultMap="appResourceMapper">
		select * from t_resource
		t order by
		t.resource_name,t.operation desc
	</select>
	<!-- 按照父ID查找节点 -->
	<select id="listByAppResource"
		resultMap="appResourceMapper">
		select * from T_RESOURCE t where 1=1
		<choose>
			<when test="parentId !=null and parentId !=''">
				and t.parentid=#{parentId}
			</when>
			<otherwise>
				and t.parentid is null
			</otherwise>
		</choose>
		<if test="resourceId !=null and resourceId !=''">
			and t.resource_id=#{resourceId}
		</if>
		<if test="resourceName !=null and resourceName !=''">
			and t.resource_name=#{resourceName}
		</if>
		<if test="des !=null and des !=''">
			and t.des=#{des}
		</if>
		<if test="app !=null and app !=''"></if>
		<if test="operation !=null and operation !=''">
			and t.operation=#{operation}
		</if>
		<if test="createTime !=null and createTime !=''">
			and t.create_time=#{createTime}</if>
		<if test="createUser !=null and createUser !=''">
			and t.create_user=#{createUser}
		</if>
		<if test="modifyTime !=null and modifyTime !=''">
			and t.modify_time=#{modifyTime}
		</if>
		<if test="modifyBy !=null and modifyBy !=''">
			and t.modify_by=#{modifyBy}
		</if>
		order by t.resource_name,t.operation desc

	</select>



	<select id="getResourcebyId" resultMap="appResourceMapper">
		select * from T_RESOURCE
	</select>

	<insert id="addListAppResource" parameterType="java.util.List"
		useGeneratedKeys="false">

		insert into t_resource
		(
		resource_id,
		parentId,
		resource_name,
		des,
		app,
		operation,
		create_time,
		create_user,
		modify_time,
		modify_by
		)
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator="union">
			SELECT
			#{item.resourceId},
			#{item.parentId},
			#{item.resourceName},
			#{item.des},
			#{item.app},
			#{item.operation},
			sysdate,
			'test',
			sysdate,
			'test'
			FROM dual
		</foreach>
	</insert>


	<insert id="addResource"
		parameterType="com.nevile.rbac01.pojo.AppResource"
		useGeneratedKeys="false">
		insert into t_resource
		(
		resource_id,
		parentId,
		resource_name,
		des,
		app,
		operation,
		create_time,
		create_user,
		modify_time,
		modify_by
		) values
		(
		#{appResource.resourceId},
		#{appResource.parentId},
		#{appResource.resourceName},
		#{appResource.des},
		#{appResource.app},
		#{appResource.operation},
		sysdate,
		'test',
		sysdate,
		'test'
		)
	</insert>

</mapper>
