<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nevile.rbac01.dao.ResourceDao">
 
    <resultMap id="BaseResultMap" type="com.nevile.rbac01.pojo.Resource">
        <result column="resourceId" jdbcType="INTEGER" property="resourceId" />
        <result column="t_p_resource_id" jdbcType="VARCHAR" property="t_p_resource_id" />
        <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
        <result column="resource_des" jdbcType="VARCHAR" property="resourceDes" />
        <result column="app" jdbcType="VARCHAR" property="app" />
        <result column="operation" jdbcType="VARCHAR" property="operation" />
    </resultMap>
 
    <select id="listResource" resultType="com.nevile.rbac01.pojo.Resource">
        select * from T_RESOURCE;
    </select>
    
 
    <select id="getResourcebyId" resultType="com.nevile.rbac01.pojo.Resource">
        select * from T_RESOURCE;
    </select>
    
 
</mapper>
